{% extends 'main/navbar.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
{% block content %}
  
    <section id="section1">
        <h2> Section 1 </h2>
    </section>
    <section id="section2">
        <h2> Section 2 </h2>
    </section>
    <section id="section3">
     <h2> Section 3 </h2>
    </section>
    <section id="section4">
        <h2> Section 4 </h2>
    </section>
    <section id="section5">
        <!-- Content for section 5 -->
    </section>

{% endblock %}
</body>
</html>