/* Reset some basic elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #0e0d0d;
    backdrop-filter: blur(5px);
    margin-top: 20px;
    z-index: 9997;
    gap: 10px;
}

.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
}

.nav-links li {
    display: inline-block;
    padding: 0 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.logo a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.burger {
    display: none;
}

/* navbar button */
.btn {
    font-size: 17px;
    background: transparent;
    border: none;
    padding: 1em 1.5em;
    color: #ffedd3;
    text-transform: uppercase;
    position: relative;
    transition: 0.5s ease;
    cursor: pointer;
  }
  
  .btn::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 0;
    background-color: #ffc506;
    transition: 0.5s ease;
  }
  
  .btn:hover {
    color: #1e1e2b;
    transition-delay: 0.5s;
  }
  
  .btn:hover::before {
    width: 100%;
  }
  
  .btn::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background-color: #ffc506;
    transition: 0.4s ease;
    z-index: -1;
  }
  
  .btn:hover::after {
    height: 100%;
    transition-delay: 0.4s;
    color: aliceblue;
  }
  
/* logo img */
.logo-img {
    display: block;
}

.logo-img img {
    max-width: 100px;
    height: 100px;
}
/* Loader */
#loading {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #020202;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
.nav-links a:focus,
.nav-links a:hover {
    background-color: #555; /* Adds a hover and focus effect for better visual feedback */
    color: #fff;
}
.menu-backdrop {
    display: none; /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9; /* Ensure it's below the nav-links but above other content */
}
.fixed-position {
    overflow: hidden;
    height: 100%;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;
}













































@media screen and (max-width: 768px) {

    #loading {
        width: 100%;
        height: 100%;
    }
    .nav-links {
        position: absolute;
        right: 0;
        height: 92vh;
        top: 8vh;
        background-color: #0c0c0c;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }

    .nav-links li {
        opacity: 0;
    }

    .burger {
        display: block;
        cursor: pointer;
    }

    .burger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 5px;
        transition: all 0.3s ease;
    }

    .nav-active {
        transform: translateX(0);
    }

    @keyframes navLinkFade {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

    .nav-links li {
        animation: navLinkFade 0.5s ease forwards 0.5s;
    }
}


/* <----------------------------------------------------------------- Navbar  finished ------------------------------------------> */

